main{
  width: 46.875rem;
  margin: auto;
  background-color: #fff;

  box-sizing: border-box;

  padding: 36.66px 64px 64px;
  border-radius: 0 0 20px 20px;

  margin-bottom: 3rem;

  p,label{
    font-family: 'Poppins';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #4E4958;

  }

  h1{
    color: #253B51;
    font-family: "Staatliches";
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: center;

  }

}

.infosUser{
  display: flex;
  flex-direction: column;
  margin-bottom: 31.73px;
  gap: 15.87px;
}

.nome{
  width: 100%;
  display: flex;
  gap: 22px;
  box-sizing:border-box ;
  justify-content: center;
}

.campoInput{

  display: flex;
  flex-direction: column;
  gap: 7.93px;
  flex-grow: 1;

  input{
    height: 55.53px;
    top: 526.39px;
    left: 409px;
    border-radius: 8px;
    border: 1px;
    align-items: center;
    background: #FAFAFC;

    border: 1px solid #E6E6F0;
  }
}

.end{
  display: flex;
  flex-direction:row;
  gap: 22px
}

form h1{
  padding-bottom: 7.93px;
  border-bottom: 1px solid #E6E6F0;
  margin-bottom: 31.73px;
}

.inputSelect{
  width: 18.75rem;
}


.botoes{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 22px;
  justify-content: center;
  margin: 20px auto 31.71px;


  btn-primary{
    width: 100%;
  }
}
