
<app-header/>

<main id = "evento">


  <div class="botoes">
    <btn-primary
      id="newsletter-form"
      btn-text="Incluir"
      variant="primary"
      (submit)="onSubmit()"
      [loading]="loading()"
    ></btn-primary>


      <btn-primary btn-text="Pesquisar" variant="primary" (submit)="onSearch()"
    [loading]="loading()"
      />

    <btn-primary btn-text="Alterar" variant="primary" (submit)="onSubmit()"
      [disabled]="!newsletterForm.valid" [loading]="loading()"
    />

    <btn-primary btn-text="Excluir" variant="primary" (submit)="onSubmit()"
      [disabled]="!newsletterForm.valid" [loading]="loading()"
    />


  </div>

  <div *ngIf="operacao == 'incluir'">
    <newsletter-form form-id="newsletter-form" [newsletterForm]="newsletterForm"></newsletter-form>
  </div>

  <div *ngIf="operacao == 'pesquisar'">
    <div class="campoInput">
      <input  type="text" placeholder="Digite o nome para pesquisar e pressione Enter"
             (keyup.enter)="onSearchValue($event)">

      <div *ngIf="loadingSearchByName">
        <lista-pessoas [pessoas]="pessoas"></lista-pessoas>
      </div>

    </div>

  </div>
</main>

  <!-- <section class="main-section pad-70">
    <div class="headline">
      <span>Castro consultoria</span>
      <h1>A consultoria que você busca para seu software</h1>
    </div>

    <img ngSrc="/assets/principal.png" width="669" height="536" priority>

  </section>

  <section class="benefit-section pad-70">
    <div class="benefit-data">
      <h2>
        95% das<br/>
        empresas

      </h2>
    </div>
    <p>não sabem como lidar com problemas de <b>escalibilidade</b> e grande volume de
      requisições.</p>
  </section>
  <section class="cta-section">
    <btn-primary
      btn-text="Saiba mais"
      ></btn-primary>
  </section> -->
  <!-- <newsletter-form></newsletter-form> -->

