
<div class="lista-pessoas">
  <table>
    <thead>
        <tr>
            <th>Nome</th>
            <th>Sobrenome</th>
            <th>Idade</th>
            <th>Endereço</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let pessoa of pessoas">
            <td>{{ pessoa.pNome }}</td>
            <td>{{ pessoa.pData}}</td>
            <td>{{ pessoa.pPeso}}</td>
            <td>{{ pessoa.pCPF}}</td>
            <td>{{ pessoa.pAltura}}</td>
            <td>{{ pessoa.pSexo}}</td>
        </tr>
    </tbody>
</table>

</div>
